<!DOCTYPE html>
<html>
<head>
  <style>
    body {background-color: lavender}
    h3 {color: navy}
    p {color: cornflowerblue}
    h1 {text-shadow: 2px 2px;}
  </style>

  <center><h1>Welcome to the photo hub</h1></center>
</head>

<body bgcolor="#e6e6fa">
<h3 style="..."> <i><center>There are 6 users </center></i></h3>

<center>
  <table>
    <tr>
      <th style="..."><h2>Index</h2></th>
      <th style="..."><h2>First</h2></th>
      <th style="..."><h2>Last</h2></th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <th style="..."><%= link_to user.id, user_photos_path(user.id) %></th>
      <td style="..."><%= user.first_name %></td>
      <td style="..."><%= user.last_name %></td>
    </tr>
      <%end %>
  </table>
</center>
</body>
</html>